@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

* {
  transition: ease-in-out 0.50s;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #eaeeff;
  display: flex;
  justify-content: center;
  align-items: center;
}
img#left {
  position: absolute;
  top: 1%;
  left: -4%;
  animation: spin 50s infinite;
}
img#bottomLeft {
  position: absolute;
  bottom: -17%;
  left: -2.5%;
  animation: spin 50s infinite;
}
img#topRight {
  position: absolute;
  top: 5%;
  right: 0;
  animation: spin 50s infinite;
}
img#bottomRight {
  position: absolute;
  bottom: -2%;
  right: 0;
  animation: spin 50s infinite;
}

h5{
  width: 100px;
  font-weight: 400;
  font-family: 'Inika', serif;
  color: rgb(170, 170, 170);
}
footer img#sLogo {
  animation: float 50s infinite;
  width: 7vw;
  height: auto;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: -5%;
  position: absolute;
}
@keyframes spin {
  25% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60%{
    transform: rotate(60deg);
  }
  70%{
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  33% {
    transform: rotate(4deg);
    top: -300px;
  }
  66%{
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(4deg);
  }
}
@media screen and (max-width: 600px) {
  footer {
    bottom: -3%;
    flex-direction: column;
  }
  h5{
    width: unset;
  }
  footer img {
    width: 13vw;
    height: auto;
  }
  img#bottomLeft{
    left: -120px;
  }
  img#left{
    top: -10px;
    left: -150px;
  }
  img#topRight{
    top: 20px;
    right: -10px;
  }
  img#bottomRight{
    right: -15px;
   bottom: -45px;
  }
}
