body{
  width: 100%;
  height: 100vh;
}
img.bgImg {
  position: absolute;
  z-index: -1;
}
img.bgImg.left {
  left: -10%;
}
img.bgImg.left {
  top: 1%;
  left: -10%;
  animation: spin 120s infinite;
}
img.bgImg.bottomLeft {
  left: 0;
  bottom: -25%;
  animation: spin 80s infinite;
}
img.bgImg.topRight {
  top: 5%;
  right: 0;
  animation: spin 70s infinite;
}
img.bgImg.bottomRight {
  bottom: -2%;
  right: 0;
  animation: spin 60s infinite;
}
h5 {
  width: 100px;
  font-weight: 500;
  font-family: "Inika", serif;
  color: rgb(170, 170, 170);
}
button.generalLogoutBtn {
  width: 7%;
  height: 30px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  bottom: 10%;
  left: 0;
  outline: none;
  border: 1px solid lightgrey;
  color: #381B63;
  background-color: white;
  box-shadow: -1px 3px 2px 0px #dad1e2b2;
  z-index: 10;
  font-weight: bolder;
}
button:hover {
  border: 2px solid rgba(255, 255, 255, 0.788);
  color: rgba(255, 255, 255, 0.788);
  background-color: #5b1fb4;
}
footer img#sLogo {
  width: 7vw;
  height: auto;
 
}
footer {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 
  position: absolute;
  left: 10%;
  bottom: -5%;
}
@keyframes spin {
  25% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(60deg);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  33% {
    transform: rotate(5deg);
    transform: scale(1.2);
  }
  66% {
    transform: scale(1);
    transform: rotate(30deg);
  }
  99% {
    transform: scale(1.3);
    transform: rotate(60deg);
  }
}
@media screen and (max-width: 600px) {
  footer {
    z-index: 3;
    bottom: -15px;
    flex-direction: column;
  }
  h5 {
    width: unset;
  }
  footer img {
    width: 13vw;
    height: auto;
  }
  img#bottomLeft {
    left: -120px;
  }
  img#left {
    top: -10px;
    left: -150px;
  }
  img#topRight {
    top: 20px;
    right: -10px;
  }
  img#bottomRight {
    right: -15px;
    bottom: -45px;
  }
}
